/* GENERAL */

html{
    height:100%;
} 

body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}


/*MAP SETTING*/

#basemap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;
    padding: 0;
    font-family:"微软雅黑";
}

#basemap img {
    width: 100%;
}

.title {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    top: 5px;
    left: 5px;
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    border-color: grey;
}


/*FONT*/
h1 {
    font-family: "微软雅黑";
    font-size: 2vw;
    color: black;
    font-weight: bold;
    display: inline;
}

h2 {
    font-family: "微软雅黑";
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
    display: inline;
}